.view {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    height: 500px;
    width: 380px;
    border-radius: 10px;
    padding: 20px 0;
    /* background-color: rgba(160, 160, 160, 0.8); */
    background-color: var(--color5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contLogo {
    height: 130px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 255, 0.308); */
}

.portal {
    height: 85%;
    width: auto;
    position: absolute;
    z-index: 1;
    animation-name: portal;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes portal {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.logo {
    height: 60%;
    width: auto;
    position: relative;
    z-index: 2;
}

.contForm {
    height: 270px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 52, 52, 0.575); */
}

.contForm > form {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: green; */
}

.fieldEmail, .fieldPass {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: justify;
    /* background-color: rgba(0, 255, 255, 0.76); */
}

.fieldEmail {
    height: 80px;
}

.contForm label {
    width: fit-content;
    height: fit-content;
    display: block;
    color: var(--verde-bckgnd);
    /* text-shadow: 0 0 1em var(--color5); */
    font-family: 'Rajdhani', sans-serif;
    padding: 4px;
    font-size: large;
    font-weight: bold;
}

.input {
    width: 97%;
    height: fit-content;
    color: var(--color5);
    font-family: 'Rajdhani', sans-serif;
    font-size: large;
    font-weight: 600;
    padding: 4px;
    background-color: var(--color1);
    border: none;
    border-radius: 4px;
    outline: none;
}

.contGuest {
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 166, 0, 0.685); */
}

.errorsEmail, .errorsPass {
    width: 100%;
    height: 40px;
    /* background-color: rgba(255, 0, 0, 0.637); */
    font-family: 'Rajdhani', sans-serif;
    font-size: small;
    color: var(--color6);
    padding-top: 5px;
    /* text-shadow: 1px 1px 2px rgb(200, 0, 0); */
}

.errorsEmail {
    height: 20px;
}

.boton {
    width: 100%;
    padding: 8px 10px;
    background-color: var(--verde-bckgnd);
    /* background-color: var(--color8); */
    color: var(--color5);
    /* text-shadow: 1px 1px 2px var(--color6); */
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Rajdhani', sans-serif;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.boton:hover {
    background-color: #82d44a;
}

.contGuest .boton {
    background-color: var(--color2);
}

.contGuest .boton:hover {
    background-color: #3cdff1;
}

.line {
    width: 300px;
    border: 1px solid var(--color6);
}


