.contenedor {
    width: 300px;
    height: 470px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(160, 160, 160);
    position: relative;
}

.contenedor:hover {
    box-shadow: 0px 0px 2em var(--color2);
}

.idnumber {
    position: absolute;
    right: 41px;
    top: 121px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'displayfree';
    text-align: right;
    color: var(--color7);
    background-color: #c3c3c3;
    border: 1px solid var(--color7);
    border-radius: 3px;
    padding: 4px 3px 2px 5px;
    z-index: 2;
}

.botonFav {
    position: absolute;
    top: 6px;
    left: 7px;
    width: 8%;
    margin: auto;
    filter: drop-shadow(0px 0px 1px var(--color7));
    cursor: pointer;
    z-index: 2;
}

.botonFav:hover {
    top: 5px;
    left: 6px;
    width: 9%;
}

.botonClose {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 7%;
    margin: auto;
    background-color: var(--color7);
    border: 2px solid var(--color7);
    border-radius: 50%;
    box-shadow: 0 0 2px var(--color7);
    cursor: pointer;
    z-index: 2;
}

.botonClose:hover {
    background-color: #3bc9d9c9;
    border-color: #3bc9d9c9;
}

.botonClose:active {
    background-color: var(--color2);
    border-color: var(--color2);
    box-shadow: 0 0 0.4em var(--color2);
}

.frame {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.linkcontainer {
    height: 95px;
    padding: 24px 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: rgba(255, 255, 0, 0.726); */
}

.link {
    width: 100%;
    color: var(--color5);
    text-decoration: none;
    text-shadow: 0 0 0.2em var(--color8);
    /* background-color: rgba(255, 0, 0, 0.692); */
}

.link:hover {
    color: #3BC9D9;
    text-shadow: 0 0 0.2em black;
}

.nombre {
    font-family: 'schwifty';
    font-size: x-large;
    z-index: 3;
}

.info {
    position: relative;
    width: 100%;
    height: 100px;
    color: var(--color8);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    /* background-color: rgba(0, 128, 0, 0.63); */
}

.propiedades {
    position: absolute;
    top: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.propiedades h2 {
    width: auto;
    margin-left: 62px;
    font-family: 'displayfree';
    font-size: 11px;
    text-align: left;
}

.screen {
    position: absolute;
    left: 18px;
    height: 118px;
    width: 88%;
}

.icons {
    position: absolute;
    left: 38px;
    width: 18px;
    height: 100px;
    padding-top: 1px;
    padding-bottom: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.icons > img {
    width: 100%;
    padding: 1px;
    background-color: var(--color2);
    border-radius: 5px;
}

.imagecont {
    position: relative;
    width: 100%;
    height: 220px;
    padding-top: 20px;
}

.circlefr {
    position: absolute;
    top: 5px;
    left: 39px;
    height: auto;
    width: 220px;
    margin: auto;
}

.charpic {
    position: relative;
    height: 180px;
    width: auto;
    border-radius: 50%;
}

