.contenedor {
    width: 380px;
    height: auto;
    margin: auto 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    /* background-color: rgba(128, 0, 128, 0.658); */
}

.input {
    width: 160px;
    padding: 5px;
    background-color: var(--color1);
    /* background-color: rgb(201, 201, 207); */
    color: var(--color5);
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Rajdhani', sans-serif;
    font-size: large;
    font-weight: 600;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.boton, .randomButton {
    padding: 8px 10px;
    background-color: var(--color2);
    color: var(--color5);
    /* text-shadow: 1px 1px 2px var(--color6); */
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Rajdhani', sans-serif;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 0px 4px 4px 0px;
}

.randomButton {
    margin-left: 20px;
    border-radius: 4px;
}

.boton:hover, .randomButton:hover {
    background-color: #3cdff1;
}